models:
  Qwen3.6-35B-A3B:
    cmd: >
      E:\llama_vulkan\llama-server.exe
      --port ${PORT}
      --model "E:\LLama-Models\Qwen3.6-35B-A3B-UD-Q4_K_XL_MTP.gguf"
      -c 262144
      -n 32768
      -fa 1
      -ctk q4_0 -ctv q4_0
      -kvu
      -b 2048 -ub 512
      --spec-type draft-mtp --spec-draft-n-max 2
      --cache-ram 21000
      --threads 8
      --jinja
      --temp 0.7 --top-p 0.8 --top-k 20 --min_p 0.0  --presence_penalty 1.5 --repeat_penalty 1.0
      --no-mmap --no-warmup
      -ncmoe 30
    filters:
      stripParams: "temperature, top_k, top_p, repeat_penalty, min_p, presence_penalty"
      setParamsByID:
        "${MODEL_ID}:planning":
          chat_template_kwargs:
            enable_thinking: true
          temp: 0.6
          top_p: 0.95
          top_k: 20
          min_p: 0.1
          presence_penalty: 0.3
          repeat_penalty: 1.05
        "${MODEL_ID}:coding":
          chat_template_kwargs:
            enable_thinking: true
          temp: 0.4
          top_p: 0.95
          top_k: 20
          min_p: 0.1
          presence_penalty: 0.0
          repeat_penalty: 1.05